

<h1>Make:</h1><h2> <%= @car.make() %></h2>
<h1>Model:</h1><h2> <%= @car.model() %></h2>
<h1>Year:</h1><h2> <%= @car.year() %></h2>


<a href="/">Home</a><br>
<a href="/dealerships">See Dealerships</a><br>
<a href="/cars">See All Available Cars</a>
