<h2>Available cars:</h2>

<ul>
  <%  @all_cars.each() do |car|  %>
    <li><a href="/car/<%= car.get_id() %>"><%= [car.make(), car.model(), car.year()].join(", ")%></a></li>
    <% end %>
</ul>

<a href="/">Home</a>
