<h1>Dealership Name: <%= @dealership.dealership_name()%></h1>

<h1>Dealership ID: <%= @dealership.id()%></h1>

<h1>Dealership Cars: </h1>

<ul>
  <%  @dealership_cars.each() do |car|  %>
    <li><a href="/car/<%= car.id() %>"><%= [car.make(), car.model(), car.year()].join(", ")%></a></li>
    <% end %>
</ul>

<h2>Add your car</h2>

<form action="/dealership" method="post">
  <label for="make">Add car Make</label>
    <input id="make" name="make" type="text">

  <label for="model">Add car Model</label>
    <input id="model" name="model" type="text">

  <label for="year">Add car Year</label>
    <input id="year" name="year" type="number">

  <button type="submit">Add that car!</button>
</form>




<a href="/">Home</a>
