<h1>All Dealerships</h1>
<ul>
  <% @dealerships.each() do |dealership| %>
    <li><a href="/dealership/<%= dealership.id() %>"><%= dealership.dealership_name() %></a></li>
  <% end %>
</ul>

<a href="/">Home</a>
