<h2>Add your Dealership</h2>

<form action="/dealerships" method="post">
  <label for="dealership_name">Name</label>
    <input id="make" name="make" type="text">

  <button type="submit">Add that Dealership!</button>
</form>
