<h1>Dealership Name: <%= @dealership.dealership_name()%></h1>

<h1>Dealership ID: <%= @dealership.id()%></h1>

<h1>Dealership Cars: </h1>


<a href="/dealership/<%= @dealership.id%>/cars/new">Add a new vehicle</a>
</br>
<a href="/">Home</a>
