<h1>Dealership Search</h1>

<form action="/dealerships" method="get" class="form">
  <button type="submit">See Dealerships</button>
</form>

<form action="/dealership/new" method="get" class="form">
  <button type="submit">Add Dealerships</button>
</form>
