<h2>Great! You added a car</h2>

<form action="/cars/new" method="get" class="form">
  <button type="submit">Add a car</button>
</form>

<form action="/cars" method="get" class="form">
  <button type="submit">List all cars</button>
</form>
